In [ ]:
import pandas as pd
import yaml

customer_statistics = '/content/sample_data/customer_statistics.csv'
orders = '/content/sample_data/orders.csv'
customer_demographics = '/content/sample_data/customer_demographics.yaml'


with open(customer_demographics, 'r') as file:
    data = yaml.safe_load(file)

df_customer_demographics = pd.DataFrame(data).transpose()

In [ ]:
df_customer_demographics

In [ ]:
df_customer_statistics = pd.read_csv(customer_statistics)

In [ ]:
df_customer_statistics

In [ ]:
#clean
clean_df_customer_statistics = df_customer_statistics.groupby('customer_id').agg({
    'total_orders': 'sum',
    'total_items': 'sum',
    'total_spent': 'sum'}).reset_index()

clean_df_customer_statistics

In [ ]:
df_orders = pd.read_csv(orders)

df_orders

In [ ]:
#merge first round
merged_final = pd.merge(clean_df_customer_statistics, df_customer_demographics, left_on='customer_id', right_index=True, how='inner')
merged_final

In [ ]:
#merge second round
merged_final_final = pd.merge(merged_final, df_orders, on='customer_id', how='right')
merged_final_final

In [ ]:
import sqlite3

conn = sqlite3.connect("orders.db")
cursor = conn.cursor()

stmnt1 = '''create table orders (
    order_id integer primary key,
    customer_id integer,
    items text,
    aperitifs text,
    appetizers text,
    entrees text,
    dessert text,
    total numeric(10, 2)
    )
'''
stmnt2 = '''create table customers (
    id integer primary key,
    address text,
    city text,
    credit_card_expires date,
    credit_card_number text,
    credit_card_security_code text,
    customer_id text,
    email text,
    name text,
    phone_number text,
    state text,
    zip_code text check (length(zip_code) = 5),
    total_orders int,
    total_items int,
    total_spent numeric(10, 2)
    )
'''
cursor.execute(stmnt1)
cursor.execute(stmnt2)